.profileBlock {
    min-height: 100vh;
    padding: 60px 0;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 413px;
    height: 360px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.profileTitle {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.profileBadge {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100px;
    height: 100px;
}

.profileBadge div {
    width: 100%;
    height: 100%;
}

.profileSpan {
    display: flex;
    align-items: center;
    color: #000000;
}

.profileEmail {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    opacity: 0.5;
    padding-top: 10px;
}



