.tableBlock {
    margin-top: 20px;
}

.container {
    border: 3px solid #34e7e7;
    height: 100%;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.titleContainer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.filterContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: 30px;
}

.tableContainer {
    width: 100%;
    margin-top: 20px;
}


