.tableBlock {
    margin-top: 20px;
}

.container {
    border: 3px solid #34e7e7;
    height: 100%;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.backToPackList {
    border: 3px solid #34e7e7;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.titlePack {
    border: 3px solid #34e7e7;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 27px;
    margin: 10px 0px 10px 0px;
}

.packDeckCover {
    border: 3px solid #34e7e7;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    flex-wrap: wrap;
}

.filterContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: 30px;
}

.tableContainer {
    width: 100%;
    margin-top: 20px;
}

.info {
    opacity: 60%;
    text-align: center;
    padding-top: 90px;
}

.deckCover {
    width: 150px;
    height: 100px;
}