.modalBlock {
    position: absolute;
    top: 30%;
    left: 38%;
    width: 450px;
    background: #FFFFFF;
    border-radius: 2px;
}

.modalContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.modalTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.children {
    margin: 15px 20px;
}